.container{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 40%;
    left: 40%;

    /* transition: 1s ease-in-out; */
    /* transition: 1s steps(5); */
    /* animation:changeShape 1s ease-in-out infinite alternate; */

    /* Multiple Animation  */
    animation-name: changeShape, rotate, reduceSuize ;
    animation-duration: .8s ,.8s ,.8s;
    animation-iteration-count: infinite, infinite, infinite;
    animation-direction: alternate, alternate, alternate;
}


/* .container:hover{
    transform: scale(2) translate(150px);
} */

@keyframes changeShape{
    from{
        border-radius: 0%;
    }
    25%{
        border-radius: 12.5%;
    }
    50%{
        border-radius: 25%;
    }
    
    to{
        border-radius: 50%;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes reduceSize {
    form{
        width: 200px;
        height: 200px;
    }

    to{
        width: 100px;
        height: 100px; 
    }
}

