/* p::first-letter{
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
} */

p::first-line{
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
}


/* p::before{
    content: 'Ravi ';
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
}

p::after{
    content: ' Malik ';
    font-size: 4rem;
    font-weight: bold;
    text-transform: capitalize;
} */


p::after{
    content: ' ';
    background-color: green;
    display: inline-block;
    height: 20px;
    width: 20px;
    
} 


ul{
    list-style: none;
}


li::before{
    content: ' ';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 20px;
}





